# Sales Analysis with Luxin

A realistic example analyzing sales data with drill-down capabilities.

In [1]:
import pandas as pd
import numpy as np
from luxin import TrackedDataFrame

# Set seed for reproducibility
np.random.seed(42)

## Generate Sample Sales Data

In [2]:
# Generate 100 transactions
n_transactions = 100

categories = ['Electronics', 'Clothing', 'Food', 'Books', 'Home']
regions = ['North', 'South', 'East', 'West']

df = TrackedDataFrame({
    'transaction_id': range(1, n_transactions + 1),
    'category': np.random.choice(categories, n_transactions),
    'region': np.random.choice(regions, n_transactions),
    'amount': np.random.uniform(10, 500, n_transactions).round(2),
    'quantity': np.random.randint(1, 10, n_transactions)
})

print(f"Generated {len(df)} transactions")
df.head(10)

Generated 100 transactions

   transaction_id  category region  amount  quantity
0               1     Books   West  271.70         2
1               2      Home   East  247.57         5
2               3      Food  North  349.29         1
3               4      Home   West  142.01         1
4               5      Home   West  129.62         5
5               6  Clothing  South   92.46         3
6               7      Food  North  117.19         4
7               8      Food   West  283.47         3
8               9      Food   East  207.88         1
9              10      Home   East   41.80         1

## Analysis 1: Sales by Category

In [3]:
category_summary = df.groupby('category').agg({
    'amount': ['sum', 'mean', 'count'],
    'quantity': 'sum'
})

category_summary.columns = ['Total Sales', 'Avg Sale', 'Num Transactions', 'Total Quantity']
category_summary = category_summary.sort_values('Total Sales', ascending=False)

category_summary

             Total Sales    Avg Sale  Num Transactions  Total Quantity
category
Clothing         6809.48  324.260952                21             110
Books            6746.58  259.483846                26             125
Home             5564.34  292.860000                19              88
Food             4324.30  270.268750                16              70
Electronics      3851.20  213.955556                18              78

In [4]:
# Click on a category to see all transactions!
category_summary.show_drill_table()

## Analysis 2: Sales by Region and Category

In [5]:
region_category = df.groupby(['region', 'category']).agg({
    'amount': 'sum',
    'quantity': 'sum',
    'transaction_id': 'count'
})

region_category.columns = ['Total Sales', 'Total Quantity', 'Num Transactions']

# Show top 10
region_category_top = region_category.sort_values('Total Sales', ascending=False).head(10)
region_category_top

                 Total Sales  Total Quantity  Num Transactions
region category
East   Books         2680.28              51                10
South  Books         2229.64              32                 7
West   Clothing      2183.49              39                 7
East   Home          1991.43              28                 7
West   Home          1939.61              36                 7
East   Clothing      1932.57              30                 5
North  Food          1831.03              35                 7
       Clothing      1507.17              24                 4
East   Food          1332.12              15                 4
South  Clothing      1186.25              17                 5

In [6]:
# Click on any region-category combination
region_category_top.show_drill_table()